.main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.hero {
  margin: 70px auto;
  display: flex;
  gap: 100px;
  padding: 0 100px;

  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    padding: 0 20px;
    gap: 50px;
  }
}

@media screen and (max-width: 1100px) {
  .hero {
    padding: 0 50px;
    flex-wrap: wrap;
  }
}
.first {
  flex: 1;
  margin-bottom: 60px;
}
.second {
  flex: 1;
}

.number {
  width: 34px;
  height: 34px;
  background: #274bf1;
  border-radius: 50%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.subHeading {
  margin-bottom: 20px;
}

.textPart {
  max-width: 500px;
  flex: 1;
  flex-basis: 360px;
}
